:root {
  /* colors */
  --dark-purple: #4800e0;
  --lightest-purple: #8b54ff;
  --light-purple: #9747ff;
  --black: #000000;
  --trans-purple: rgba(72, 0, 224, 0.62);
  --trans-red: rgba(224, 0, 0, 0.62);
  --trans-green: rgba(72, 224, 0, 0.62);
  --light-brown: #989060;
  --light-red: #e00000;
  --slate: #8892b0;
  --grey: #BAB8B8;
  --light-grey: #E6E6E6;
  --white: #e6f1ff;
  --lightest-slate: #ccd6f6;
  --light-slate: #a8b2d1;
  --dark-blue: #0f0f17;
  --font-montserrat: "Montserrat", sans-serif;
  --font-mont-semi: "Montserrat-semibold", sans-serif;
  --font-playfair: "playfair_displayregular";
  --font-play-semi: "playfair_displaysemibold";
  --fz-mob-heading: 32px;
  --fz-sub-heading: 15px;
  --fz-para: 13px;
  --border-radius: 25px;
  --tr-ease: all 1s ease;
  --tr-linear: all 0.5s linear;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --fz-heading-max: 64px;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --w1: 1000px;
  --w2: 400px;
  --N: 2;
  --M: 1;
}

@font-face {
  font-family: "Monseratt";
  src: url("./Assets/fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("./Assets/fonts/montserrat-regular-webfont.woff"), format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-semibold";
  src: url("../Assets/fonts/montserrat-semibold-webfont.woff2") format("woff2"),
    url("../Assets/fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "playfair_displayregular";
  src: url("../Assets/fonts/playfairdisplay-regular-webfont.woff2")
      format("woff2"),
    url("./Assets/fonts/playfairdisplay-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "playfair_displaysemibold";
  src: url("../Assets/fonts/playfairdisplay-semibold-webfont.woff2")
      format("woff2"),
    url("../Assets/fonts/playfairdisplay-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 10px;
  background-color: var(--dark-purple);
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-btn {
  position: fixed;
  background-color: var(--trans-red);
  border: 1px solid var(--white);
  padding: 8px 25px;
  border-radius: var(--border-radius);
  right: 50px;
  font-size: var(--fz-sm);
  color: var(--white);
  text-decoration: none;
  font-family: var(--font-montserrat);
}

.preview-btn:hover {
  background-color: var(--light-red);
  color: var(--white);
}

.links {
  text-decoration: none;
  color: var(--white);
}

.resume-wrapper {
  background-color: var(--white);
  /* width: 100vw; */
  height: auto;
  display: flex;
  justify-content: center;
}

.resume {
  margin: 80px;
  color: var(--black);
  width: 210mm;
  height: 297mm;
  background-color: var(--white);
  border: 1px solid var(--black);
}

.banner {
  height: 250px;
  background: url("../Assets/moon4.jpg") no-repeat;
  background-position: center top -100px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.banner h1 {
  font-family: var(--font-mont-semi);
  font-size: var(--fz-heading-max);
}

.content{
  height: calc(297mm - 250px);
  display:flex;
  flex-direction: row;
}

/* Aside section  */
.aside {
  width: 30%;
  height: 100%;
  background-color: var(--light-brown);
  display: flex;
  flex-direction: column;
}

.profile-part{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-deco {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    border: 3px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.info-sections{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  margin: 0 0 30px 0;
}

.personal-info{
  margin: 30px 0;
}

.heading{
  font-family: var(--font-montserrat);
  font-size: var(--fz-xl);
  text-transform: uppercase;

}

.heading-underlined{
  color: var(--white);
  padding: 0 15px 5px 0;
  border-bottom: 2px solid var(--white);
  margin: 0 0 20px 0;

}

.sub-heading{
  margin: 0 0 0 10px;
  color: var(--white);
  font-family: var(--font-montserrat);
  font-size: var(--fz-sub-heading);
}

.info-values{
  color: var(--white);
  font-size: var(--fz-xs);
  font-family: var(--font-montserrat);
  font-weight: 200;
  margin: 0 0 10px 10px;
}

.list{
  list-style: none;
}

.list li{
  margin: 0 0 0 10px;
  color: var(--white);
  font-family: var(--font-play-semi);
}

/* Main content */
.main-content{
  width: 70%;
  background-color: var(--light-grey);
}

.profile-section, .main-sections{
  padding: 20px;
}

.main-child{
   padding: 15px;
   font-family: var(--font-playfair);
   color: var(--black);
   letter-spacing: .2px;
   text-align:justify;
}

.main-heading{
  font-weight:600;
  letter-spacing: 1px;
}

.main-heading::after {
  content: "";
  display: inline-block;
  margin: 0 0 0 20px;
  width: 80px;
  height: 2px;
  background-color: var(--light-brown);
  vertical-align: middle;
}

.work-exp, .edu-school{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-content li{
  margin: 0;
}

.work-list, .edu-list{
  display: flex;
  flex-direction: column;
}

.work-year, .school-year{
  color: rgb(66, 66, 66);
  font-weight: 100;
  font-size: var(--fz-xs);
}

.work-position, .degree-name{
   font-family: var(--font-montserrat);
   font-weight: 500;
   color:var(--black);
   font-size: var(--fz-md);
   text-transform: uppercase;
   letter-spacing: .3px;
}

.company-city-name, .university-name{
  color: var(--black);
  font-size: var(--fz-para);
  font-weight: 100;
  word-spacing: 2px;
  margin: 2px 0 0 0;
}

